* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#allServices {
    width: 400px;
    background-color: lightblue;
}

#section_total {
    height: 200px;
    width: 400px;
    border: black 1px solid;
}