* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}



#allServices {
    width: 400px;
    background-color: lightblue;
}

#section_total {
    height: 200px;
    width: 400px;
    border: black 1px solid;
}

#calculatorFrame {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    min-height: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
 background-image: linear-gradient(to top, #f8fafc, #e2e8f0, #f8fafc);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}


.checkboxes {
    height: 40px;
    width: 40px;
}